h1 {
    width: fit-content;
    text-align: center;
    color: blueviolet;
    background-color: indianred;
}

h2 {
    color: blueviolet;
    background-color: indianred;
}

h3 {
    color: blueviolet;
    background-color: indianred;
}


p {
    text-align: center;
    color: forestgreen;
    background-color: lavender;
}

body{
    background-color: rgb(73, 126, 21);

}