.logo {
    width: 210px;
    border-style: 1px grey;
    border-radius: 5px;
    text-align: center;
}
img{
    width: 200px;
    border-color: rgb(161, 128, 133);
    border-radius: 60%;
}

#one{
    width: 300px;
    height: 40px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}
#two{
    width: 300px;
    height: 40px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display:ruby-base;
}
#three{
    width: 300px;
    height: 40px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: flex;
}
#four{
    width: 300px;
    height: 40px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: flex;
}